#hero {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
	margin-top: 5rem;
}

#mainContent,
#latestShows,
#topRatedShows,
#topRatedMovies {
	display: flex;
	flex-direction: column;
	width: 95%;
	height: 16rem;
	margin: auto;
	z-index: 2;
}

#latestShows,
#topRatedShows,
#topRatedMovies {
	margin-top: 1.5rem;
}

#mainContent h1,
#latestShows h1,
#topRatedShows h1,
#topRatedMovies h1 {
	font-size: 1.7rem;
	font-weight: 700;
	color: #262626;
	color: #EEEEEE;
	margin: .3rem 0;
	width: 100%;
}

#mainContentBody,
#latestShowsBody,
#topRatedShowsBody,
#topRatedMoviesBody {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

#mainContent #mainContentBody .movieCard,
#latestShowsBody .movieCard,
#topRatedShowsBody .movieCard,
#topRatedMoviesBody .movieCard {
	width: 9rem;
	min-width: 9rem;
	height: 100%;
	background-color: #fff;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.movieImage {
	width: 100%;
	height: 100%;
	position: relative;
}

.ratingContainerBody {
	display: flex;
	width: 2.4rem;
	height: 2.5rem;
	position: absolute;
	top: 3px;
	left: 3px;
}

.ratingIconBody {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.ratingContainerBody .rating {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .7rem;
	font-weight: 700;
	color: #3d3636;

}

.movieImage img {
	width: 100%;
	height: 100%;
}

.movieCard:hover .addToFavIcon {
	display: block;
	animation: backwards .2s ease-in fadeIn;
}

.movieCard:hover .movieImage .moviePoster {
	filter: blur(.5px) brightness(.8) grayscale(.5) contrast(1.2) opacity(.8) drop-shadow(0 0 0 #fff);

}

.addToFavIconContainer {
	z-index: 1000;
}

.addToFavIcon {
	position: absolute;
	top: -2px;
	z-index: 1000;
	right: .1rem;
	display: none;
	box-shadow: 0 0 0 0 #fff;
	width: 2.8rem;
	cursor: pointer;
	height: auto;
}



@keyframes fadeIn {
	0% {
		top: -100%;
		opacity: 0;
	}

	100% {
		top: 2px;
		opacity: 1;
	}
}