#page_logo {
	max-width: 3.5rem;
	max-height: auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page_logo {
	width: 2.5rem;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 2rem;
	z-index: 1000;
	padding: 0 1rem;
	background-color: rgba(0, 0, 0, .1);
}

.list_titles {
	font-size: .9rem;

	list-style: none;

}

.list_titles li {
	display: inline;

}

.list_titles li a {
	float: left;
	color: #353535;
	color: #eee;
	padding: 5px;
	text-align: center;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 6px;

}

.list_titles li a:hover {
	color: rgb(194, 218, 239);

}

.listIcons {
	width: 1.2rem;
	height: auto;

}

.userBoxInfo {
	display: flex;
	width: 100%;
	align-items: center;
}

#user_box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0;
	max-width: 10rem;

}

.searchIcon {
	width: 1.5rem;
	height: auto;

}








#user_image {
	min-width: 1rem;
	min-height: auto;
	max-width: 1.5rem;
	border-radius: 50%;
	margin-left: 1rem;
}

#user_image img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#user_name a {
	font-size: 1rem;
	font-weight: bold;
	color: #353535;
	color: #eee;
	font-weight: 800;
	width: 100%;
	padding: 3px 5px;
	border-radius: 4px;
}

#user_name a:hover {
	color: #b1d9e6;

}

@media (max-width: 440px) {
	#header {
		padding: 0;
		gap: 2rem;
	}

	#user_box {
		max-width: 10rem;
	}

	#user_image {
		min-width: 1.5rem;
		min-height: auto;
		max-width: 1.7rem;
	}

	#user_name p {
		width: max-content;
		text-align: center;
	}

	#user_name a {
		font-size: .8rem;
		text-align: center;
		width: max-content;
	}

	.list_titles {
		display: none;
	}

	#header {
		justify-content: space-between;
		padding: 0 1.5rem;
	}
}

.arrowDownIcon {
	max-width: 1.5rem;
}

@media (max-width: 560px) {
	#user_image img {
		width: 1rem;
	}

	.list_titles {
		position: absolute;
		top: -5rem;
		right: -.5rem;
		background-color: #232323;

		/* animation: dropDown .5s ease-in-out; */
	}

	@keyframes dropDown {
		0% {
			top: -5rem;
		}

		100% {
			display: block;
			top: 2rem;
		}
	}
}