#movieInfo {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: .4rem;
	flex-direction: row;
	width: 94%;
	height: 26rem;
	background-color: #fff;
	margin: auto;
	margin-top: 1rem;
}

#moviePosterFav {
	height: 100%;
	min-width: 17rem;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.moviePoster {
	width: 100%;
	height: 100%;
	position: relative;

}

.contentStatus {
	position: absolute;
	color: white;
	z-index: 100;
	font-size: 17px;
	letter-spacing: 1px;
	background-color: rgb(215, 189, 124);
	top: 0;
	left: 0;
	padding: 3px 5px;
}

.moviePoster img {
	width: 100%;
	height: 100%;
	position: relative;
}

.favButton {
	width: 100%;
	height: 2.5rem;
	position: absolute;
	bottom: 0;
	background-color: pink;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.favButton button {
	width: 100%;
	height: 100%;
	background-color: blanchedalmond;
	border: none;
	font-size: 1rem;
	font-weight: 800;
	color: rgb(38, 42, 45);
	cursor: pointer;
	position: absolute;
	z-index: 99;
}

.favButton .addToFavourites {
	position: absolute;
	left: 1rem;
	width: 1.7rem;
	height: auto;
	z-index: 100;
	margin-left: 1rem;
}

.movieDetails {
	width: auto;
	max-width: 55%;
	height: 100%;
	float: left;
	display: flex;
	padding: 3rem 0;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	position: relative;
}

.contentType {
	width: fit-content;
	padding: .2rem .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	font-size: 1.4rem;
	background-color: blanchedalmond;
	position: absolute;
	top: 0;
	left: 0;
	color: rgb(130, 143, 154);
}

.movieDetails .mainTitleMovie {
	font-size: 2rem;
	color: #4c4a4a;
	margin-bottom: 0rem;
}

.movieDetails .MovieRatingContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: .4rem;
}

.MovieRatingContainer img {
	width: 1.1rem;
	height: auto;
}

.MovieRatingContainer .ratingNumber {
	background-color: antiquewhite;
	padding: 2px 4px;
	color: rgb(70, 66, 66);
}

.MovieRatingContainer .votesCount {
	font-size: 13px;
	color: darkgray;
}

.watchProviders {
	width: 20%;
	max-width: 25%;
	margin-left: auto;
	background-color: aqua;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem;
	background-color: blanchedalmond;
	gap: 1.5rem;
	color: #4c4a4a;
}

.justWatchContainer {
	width: 5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-left: auto;
}

.justWatchContainer img {
	width: 100%;
	height: auto;
}

.watchProvidersContainer {
	width: 100%;
	max-height: 100%;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: inherit;

}

.providerBox {
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 3px;
	padding: .3rem 1rem;
	gap: 1.3rem;
	margin-bottom: .5rem;

}

.providerBox img {
	width: 2rem;
	height: auto;
	border-radius: 50%;

}

.providerBox img:hover {
	opacity: .7;
}

.providerBox p {
	font-size: 1rem;
	color: #000;
	margin-right: auto;
}

#genres {
	background-color: blanchedalmond;
	padding: 2px 4px;
	border-radius: 3px;
	color: rgb(93, 91, 91);
}

.movieDetails .descritpion {
	letter-spacing: 1px;
	font-size: 16px;
	color: rgb(60, 58, 58);
}

.movieDetails .releaseDate {
	margin-top: -1.3rem;
	color: grey;
	letter-spacing: 1px;
	font-size: 14px;
}

.actorsContainer {
	width: 94%;
	height: 16rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: #fff;
	margin: auto;
	margin: 1rem auto 1rem auto;
}

.actorsContainer h2 {
	width: 100%;
	font-size: 1.5rem;
	color: #4c4a4a;
	padding: .3rem 1rem;
	background-color: blanchedalmond;
}

.actorsContainer .actors {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	overflow: scroll;

}

.actorsContainer .actorBox {
	min-width: 7rem;
	max-width: 9rem;
	min-height: 12rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: .3rem;
	background-color: #fff;
	margin-right: .3rem;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}

.actorImg {
	min-width: 100%;
	height: 9rem;
	position: relative;
	overflow: hidden;
}

.actorImg img {
	width: 100%;
	height: auto;
	position: relative;
}

.actorsContainer .actorName {
	font-size: .9rem;
	color: #5b5858;
	height: 2rem;
	width: fit-content;
	text-align: center;
}

.similarMoviesContainer {
	display: flex;
	flex-direction: column;
	width: 94%;
	height: 17rem;
	margin: auto;
	z-index: 2;
	background-color: #fff;
	margin: auto;
	margin-bottom: 2rem;
	gap: 1rem;
}

.similarMoviesContainer h2 {
	width: 100%;
	font-size: 1.5rem;
	color: #4c4a4a;
	padding: .3rem 1rem;
	background-color: blanchedalmond;
}

.similarMoviesContainer .similarMovies {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	overflow: scroll;
	position: relative;
}

.similarMovies .movieBox {
	min-width: 9rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: .4rem;
	background-color: blanchedalmond;
	margin-right: .3rem;
	position: relative;
	border-radius: 2px;
	overflow: hidden;
	position: relative;
}

.movieBox .similarMovieImg {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.similarMovieImg img {
	width: 100%;
	height: auto;
	position: relative;
}

.movieBox .similarMovieTitle {
	font-size: .9rem;
	color: #3c3838;
	height: 2rem;
	width: fit-content;
	text-align: center;
}

.commentsSection {
	width: 70%;
	min-height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: rgb(221, 219, 200);
	margin: auto;
	margin-bottom: 2rem;
	margin-left: 2%;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}

.commentsSection h2 {
	width: 100%;
	font-size: 1.5rem;
	color: #2f2b2b;
	padding: .3rem 1rem;
	background-color: rgb(244, 242, 241);
}

#commentCount {
	font-size: .9rem;
}

.comments {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	padding: 1rem 0;
	background-color: #e1dcd5;
	gap: 0;
}

.commentBox {
	width: 100%;
	min-height: 3rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: .5rem;
	position: relative;
	overflow: hidden;
	margin-bottom: -1.8rem;
}

.commentUser {
	width: 4rem;
	background-color: rgb(255, 246, 231);
	display: flex;
	align-items: center;
	justify-content: center;
}

.userAndDate .username {
	font-size: 1rem;
	color: #4c4a4a;
	cursor: pointer;

}

.userAndDate .username:hover {
	text-decoration: underline;
}

.commentUser .userImage {
	width: 2.4rem;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid #cebaba;
}

.commentUser img {
	width: 100%;
	height: auto;
	position: relative;
}

.commentBox>div {
	height: 100%;
	padding: 1rem 0.4rem;
	position: relative;
	overflow: scroll;
	border-radius: .1rem;
	background-color: #e1dcd5;


}

.commentContent {
	position: relative;
	width: 100%;
	height: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 1.3rem;
	background-color: rgb(255, 246, 231);
}

.commentContent .comment {
	width: 100%;
	height: 100%;
	color: rgb(52, 50, 50);
	font-size: .9rem;
	font-weight: thin;
}

.dateCommented {
	color: #878585;
	font-size: .7rem;
	font-weight: bold;
}

.addComment {
	width: 100%;
	height: 10rem;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #e1dcd5;
	padding: 1rem;
	gap: .5rem;
	margin-bottom: -1rem;
}

.addComment textarea {
	width: 70%;
	height: 100%;
	border: 1px solid rgb(232, 207, 182);
	background-color: #fffefd;
	resize: none;
	border-radius: 3px;
	padding: 4px;
}

#addCommentBtn {
	width: max-content;
	height: 2rem;
	background-color: #e4c087;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	padding: .4rem 1rem;
}

.userAndDate {
	display: flex;
	gap: .5rem;
	align-items: baseline;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: -1rem;
}

.userAndDate .username {
	font-size: 1rem;
	font-weight: bold;
}

.addRatingBox {
	display: flex;
	max-height: 4rem;
	align-items: center;
	gap: .5rem;
}

.addRatingBox .rateIcon {
	width: 2rem;
	height: auto;
}

.addRatingBox .addRatingLabel {
	font-size: 1.4rem;
	color: #4c4a4a;
	font-weight: 800;
	padding-top: 10px;
}

.dialogueSection {
	width: 30rem;
	height: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #e1d0b1;
	border-radius: 6px;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	border: none;
	position: absolute;
	top: 25%;
	margin: auto;
	left: calc(50% - 15rem);
	z-index: 1000;
	gap: .6rem;
	border: 2px solid #191918;
	box-shadow: 0rem 0rem 10rem 1rem #1e1e1d;
}

.rateLabel {
	margin-bottom: -.3rem;
	color: #2f2b2b;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
}

.rateBtn {
	padding: 4px 10px;
	background-color: #53c1f1;
	border: none;
	border-radius: 4px;
	font-size: 19px;
	color: #fff;
	cursor: pointer;
}

.rateStarIcon {
	width: 2rem;
	height: auto;
}

.rateTitle {
	font-size: 1.6rem;
	color: #4c4a4a;
	font-weight: 800;

}

.starsContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.3rem;
}

.addRatingImage {
	position: relative;
	display: flex;
	gap: .6rem;
	align-items: center;
	height: 2.2rem;
	border-radius: 4px;
	padding: 3px 4px;

}

.rating {
	font-size: 1.2rem;
	background-color: #f2e5ce;
	color: #3c3838;
	padding: 2px 7px;
	margin-right: .3rem;
}

.addRatingImage:hover {
	opacity: .9;
	background-color: #f4f0ea;
}